.flex-grid {
    display: flex;
  }
  .col {
    flex: 1;
  }

#red_alliance_info {
  background: red;
  color: whitesmoke;
  columns: 3
}

#blue_alliance_info {
  background: blue;
  color:whitesmoke;
  columns: 3
}